extends layout.pug

block content
    form(action='/hello', method='post')
        h1 #{name}
        lebel Enter your name
            input(type="text" name="username")
        button(type='submit') Let's go!